{% load static %}


<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="social-icons">
          <li><a href="{{ social_medias.instagram }}">Instagram</a></li>
          <li><a href="{{ social_medias.telegram }}">telegram</a></li>
          <li><a href="{{ social_medias.whatsapp }}">Whatsapp</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <div class="copyright-text">
          <p>Copyright 2020 Stand Blog Co.
                
             | Design: <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </div>